body {
    font-family: "Inter", sans-serif;
    background-color: #262626;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
} 

.switch {
    margin-top: 10px;
    position: absolute;
    right: 0;
}